.centered-content{
  text-align: center;
}
.book-pict{
  max-width: 150px;
}
.link:hover{
    cursor: pointer;
}
.file_input_logo {
    display: none;
} 
.change_picture{
    
    cursor: pointer;
}
.btn-save-custom{
    padding: 5px 20px;
    background: #51d2b7;
    border: none;
    color:#fff;
    text-transform: uppercase;
}
.btn-blue-custom {
   padding: 5px 20px;
    background: #51d2b7;
    border: none;
    color:#fff;
    text-transform: uppercase; 
}
.form-control-custom {
    padding: 5px 1.2em;
    border: 1px solid #000000;
    border-radius:0;
}
.btn-cancle-custom {
    padding: 5px 37px;
    background: #fdc585;
    border: none;
    color:#fff;
    text-transform: uppercase;
}
.btn-orange-suctom {
    padding: 5px 15px;
    background: #fdc585;
    border: none;
    color:#fff;
    text-transform: uppercase;
}
.btn-orange-suctom-datatble{
    padding: 5px 7px;
    background: #fdc585;
    border: none;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
/* Tabs*/

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:0;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.card{
    border: none!important;
}
.select-control-custom {
    width: 100%;
    padding: 10px;
    color:#000;
    background: #fff;
    border: solid 1px #ddd;
}
/* file upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    width: 100px;
    height: 100px;
}


.input-tags {
  width: 100%;
  padding: 15px;
  display: block;
  margin: 0 auto;
}

.label-info {
  background-color: #5bc0de;
  padding: 3px;
}

.plants-card{
    /* padding-bottom: 41px; */
    height: 221px;
/*    margin-bottom: 20px;*/
}
.plants-card .card-body {
    text-align: center;
}
.plants-card img{
/*    width: 59%;*/
    padding-top: 10%;
}
.plants-card .card-title{    
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 38%;
}

/**----------------------------open style divice content---------------------------**/
.pos-title {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-bottom: 30px;
}
.pos-title h3 {
    font-size: 20px;
    font-weight: 700;
    color:#000;
}
.pos-title h3 span {
    color: #929399;
    font-size: 13px;
    padding-left: 15px;
}
.head-button-pos {
    margin: 20px 0;
    display: flex;
}
.head-button-pos a {
    background:#51d2b7;
    color:#fff;
    padding: 10px 15px;
    border-radius: 8px;
}
.head-button-pos button {
    background:#51d2b7;
    color:#fff;
    padding: 10px 15px;
    border-radius: 8px;
} 
.table-bordered th, .table-bordered td {
    border-left: none!important;
    border-right: none!important;
    border-bottom: 8px solid #f1f3f8!important;
}
.pos-data-table table {
    width: 100%;
}
.pos-data-table table tr th {
    padding: 13px;
    color:#fff;
    background: #51d2b7!important;
    font-size: 12px;
    text-align: center;
}
.pos-btn-collapse .left{
    width: 50%;
    float: left;
}
.pos-btn-collapse .left a {
    background: transparent;
    border: none;
    color:#ffa500;
    font-size: 15px;
    cursor: pointer;
}
.pos-btn-collapse .left a i {
     font-size: 18px;
    margin-right: 10px;
}
.pos-btn-collapse .right{
    width: 50%;
    float: left;
}
.pos-btn-collapse .right a {
    background: transparent;
    color: #00dbb5;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.pos-btn-collapse .right a i {
    font-size: 18px;
}
.table th, .table td {
    vertical-align: middle!important;
    text-align: center!important;
}
.pos-data-table table tbody .des-table {
    background: #fff;
}
.pos-data-table table .des-table td {
    font-size: 15px;
    padding: 8px 13px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.table-bordered {
    border: none!important;
}
.offline-device {
    color:#ff0000;
}
.online-device {
    color:#098241;
}
.btn-primary {
    text-transform: uppercase;
}
/**----------------------------close style divice content---------------------------**/


/**----------------------------open style contentn add plant---------------------------**/
.pos-content-select-pro .pos-title-sub h3{
    color:#585757;
    font-size: 18px;
    text-transform: capitalize;
}
/**----------------------------close style contentn add plant---------------------------**/

/**----------------------------close style contentn add device---------------------------**/
.pos-btn-select-device {
    width: 100%;
    float:left;
    margin-top: 33px;
}
.add-device-col {
    border:2px dashed #ddd;
    height: 100px;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    float: left;
    position: relative;
}
.pos-col-add-device {
    float: left;
    padding-left: 0;
    cursor: pointer;
}
.btn-add-plus {
background: transparent;
    color: #a9a9a9;
    position: absolute;
    left: 45%;
    bottom: 25px;
    border: none;
    font-size: 33px;
}
/**----------------------------close style contentn add device---------------------------**/


/**----------------------------open style contentn project---------------------------**/
.pos-btn-select{
    margin: 20px 0;
}
.pos-btn-select .select-btn {
    text-decoration: none;
    color:#fff;
    border: none;
}
.select-btn {
    color:#fff;
    background: #ffa500;
    padding:5px 15px;
    border: none;
}
.cont-select-pro {
    float: left;
    position: relative;
}
.col-select-pro {
background: #fff;
    margin: 10px;
    min-height: 253px;
    padding: 10px;
    max-height: 225px;
}
.col-select-pro .head {
    min-height: 100px;
    max-height: 100px;
    padding: 15px 20px;
    text-align: center;
}
.col-select-pro .head img{
    width: 100%;
    margin: auto;
}
.col-select-pro .foot {
    position: absolute;
    left: 40%;
    bottom: 28px;
    
}
.col-select-pro .foot2 {
    position: absolute;
    left: 40%;
    bottom: 28px;
    
}
.col-select-pro .footlong{
    left: 23%;
    position: absolute;
    bottom: 28px;
}
.col-select-pro .footlong h4{
    font-size: 18px;
    font-weight: 700;
    color:#008d41;
}
.col-select-pro .foot h4 {
    font-size: 18px;
    font-weight: 700;
    color:#008d41;
}
.col-select-pro .foot2 h4 {
    font-size: 18px;
    font-weight: 700;
    color:#008d41;
}
.half {
  float: left;
  width: 100%;
  padding:0;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #51d2b7;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
    -webkit-transition:max-height 0.5s;
  transition: max-height 0.5s;
}
.blue .tab-content {
  background: #fff;
}
.tab-content p {
  margin: 1em;
}
.tab-content table {
    width: 100%;
}
.tab-content table tbody tr {
    margin-bottom: 5px;
}
.one-1 {
    background: #ddd;
}
.two-2 {
    background: #eee;
}
.tab-content table tbody tr .left{
    color: #000;
    width:50%;
    padding: 10px;
}
.tab-content table tbody tr .right {
    color: #000;
    width:50%;
    padding: 10px;
}
.tab-content table tbody tr .node {
    color: #000;
    padding: 0 15px;
}
.pos-btn-data-table-mobile-project {
    width: 100%;
    float: left;
}
.pos-btn-data-table-mobile-project .left {
    width: 50%;
    float: left;
    text-align: center;
    display: grid;
}
.pos-btn-data-table-mobile-project .left a {
    padding: 3px 5px;
    color:#fff;
    background: #ffa500;
}
.pos-btn-data-table-mobile-project .right{
    width: 50%;
    float: left;
    text-align: center;
    display: grid;
}
.pos-btn-data-table-mobile-project .right a {
    padding: 3px 5px;
    color:#fff;
    background: #438241;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

/**----------------------------close style contentn project---------------------------**/


/**----------------------------open style contentn detile project---------------------------**/
.col-detile-pro {
    float: left;
    text-align: left;
    padding: 0;
}
.col-detile-pro-blue {
    background: #58babf;
}
.col-detile-pro-orange {
    background: #dca97e;
}
.col-detile-pro-pink {
    background: #dea7f5;
}
.col-detile-pro-blue-sky {
    background: #61b0f3;
}
.pos-col-detile-pro {
    min-height: 200px;
    max-height: 200px;
    margin: 13px;
    padding:  33px 22px;
    position: relative;
}
.pos-col-detile-pro .head {
    position: absolute;
    top:16px;
}
.pos-col-detile-pro i {
    position: absolute;
    top: 11px;
    right: 23px;
    color: #fff;
    font-size: 28px;
}
.pos-col-detile-pro .head h4 {
   color:#fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.pos-cont-detile-pro {
    width: 100%!important;
    float: left!important;
    margin-top: 16px;
}
.pos-col-detile-pro .body h3{
    font-size: 55px;
    color: #fff;
    margin-bottom: 0;
}
.pos-col-detile-pro .body {
    margin-top: 60px;
}
.pos-col-detile-pro .body i {
    font-size: 30px;
    color: #fff;
}
.pos-col-detile-pro .body span{
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
}
.pos-col-detile-pro .body strong{
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
}
.pos-btn-right {
    text-align: right;
    margin: 10px;
}
.open-all-report {
    padding: 10px 13px;
    background: #098241;
    color:#fff;
}
.open-all-report:hover {
    color:#fff;
}
/**----------------------------close style contentn detile project---------------------------**/


/**----------------------------open style contentn tips & trick---------------------------**/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.text {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 12px;
    line-height: 17px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.col-pos-tips {
    float: left;
    padding: 0;
    width: 23%;
    margin: 10px;
    height: 100px;
    min-height: 180px;
    max-height: 180px;
    overflow: hidden;
}
.content-pos-tips:hover .overlay {
    height: 100%;
}
.content-pos-tips {
    min-height: 180px;
    max-height: 180px;
    overflow: hidden;
    position: relative;
}
.btn-see-more {
    color:#fff;
    font-size: 13px;
    padding:5px 8px;
    border: solid 1px #fff;
    background: transparent;
}
.btn-see-more:hover {
    background: #fff;
    color: #000;
}
#project_list {
    margin: 0 20px 0 0!important;
    margin-bottom: 20px!important;
}
/**----------------------------close style contentn tips & trick---------------------------**/


/**----------------------------open style contentn start planting---------------------------**/
.overlay-start-planting {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.text-start-palnting {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 12px;
    line-height: 17px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.pos-cont-add-device-more {
    float: left;
    padding: 0;
    width: 23%;
    margin: 10px;
    text-align: center;
}

.pos-cont-col-add-device-more img {
    width: 50%;
}
.pos-cont-col-add-device-more:hover .overlay-start-planting {
    height: 100%;
}
.pos-cont-col-add-device-more {
    min-height: 180px;
    max-height: 180px;
    margin: 13px;
    overflow: hidden;
    position: relative;
}
.text-start-palnting ul {
    padding: 0;
    list-style: none;
    display: grid;
}
.text-start-palnting ul li {
    margin: 8px;
}
.text-start-palnting .pos-btn-01 .left button {
    background: transparent;
    border: none;
}
.text-start-palnting .pos-btn-01 .right button {
    background: transparent;
    border: none;
}
.text-start-palnting .pos-btn-01 .left button .delete {
    padding: 11px 11px;
    background: transparent;
    border-radius: 60px;
    border: solid 1px #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.text-start-palnting .pos-btn-01 .left button .delete:hover {
    color:#000;
    background: #fff;
    border: solid 1px #000;
}
.text-start-palnting .pos-btn-01 .right button .edit{
    padding: 11px 10px;
    background: transparent;
    border-radius: 60px;
    border: solid 1px #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.text-start-palnting .pos-btn-01 .right button .edit:hover {
    color:#000;
    background: #fff;
    border: solid 1px #000;
}
.title-secod h3 { 
    font-size: 20px;
}
.dashed-border {
    border: 2px #ddd dashed;
}
.btn-plus-add-device{
    font-size: 50px;
    padding: 24% 42%;
    color:#ddd;
    background: transparent;
    border:none;
    cursor: pointer;
}
.btn-plus-add-device-text {
    font-size: 15px;
    font-weight: bold;
    padding: 38% 19%;
    color:#ddd;
    background: transparent;
    border:none;
    cursor: pointer;
}
.pos-btn-01 .left {
    width: 50%;
    float: left;
}
.pos-btn-01 .right {
    width: 50%;
    float: left;
}
.btn-plus-add-device-1{
    font-size: 50px;
    position: absolute;
    bottom: 30%;
    left: 40%;
    color:#ddd;
    background: transparent;
    border:none;
}
.btn-add-more-add-device {
    font-size: 18px;
    position: absolute;
    bottom: 44%;
    left: 16%;
    color:#ddd;  
}
/**----------------------------close style contentn start planting---------------------------**/


/**----------------------------open style contentn article---------------------------**/
#content-article {
    padding: 15px 0;

}
.pos-content-article {
    padding: 20px;
    background: #fff;
    width: 100%;
    overflow: hidden;
}
.banner-article {
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}
.pos-btn-sos ul {
    list-style: none;
    padding: 0;
    display: -webkit-inline-box;
}
.pos-btn-sos ul li {
    margin: 10px;
    padding: 10px 16px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 2px 2px 4px #cacaca;;
}
.pos-btn-sos ul .facebook{
    padding: 10px 20px;
    box-shadow: 2px 2px 4px #cacaca;;
}
.pos-btn-sos ul li a {
    font-size: 20px;
}
.pos-content-article .head {
    width: 100%;
    float: left;
    margin-bottom:14px;
}
.pos-content-article .body {
    width: 100%;
    float: left;
    padding: 0;
}
.pos-content-article .body .right {
    float: left;
}
.pos-content-article .body .left {
    float: left;
}
.article-title {
    color:#585757;
    font-size: 25px;
    margin: 0;
}
.pos-des-arti {
    margin-top: 14px;
}
.pos-des-arti p {
    color: #737373;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
    padding-right: 15px;
}
.title-2-article h3 {
    font-size: 20px;
    color:#585757;
    margin: 0;
}
.article-content {
    width: 100%;
    float: left;
    margin: 20px 0;
}
.article-content .head .img-article-small {
    height: 200px;
    background-repeat: no-repeat;
}.article-content .body h4 {
    font-size: 17px;
    color:#737373;
    margin: 0;
}
/**----------------------------close style contentn article---------------------------**/


/**----------------------------open style contentn pro planting---------------------------**/
.pos-form-2-pro-planting .post-form .form-left {
    width: 50%;
    float: left;
    padding-right: 15px;
}
.pos-form-2-pro-planting .post-form .form-right {
    width: 50%;
    float: left;
    padding-left: 15px;
}
.secon-title-form {
    font-size: 20px;
}
.btn-orange {
    color:#fff;
    padding: 3px 6px;
    background: #dca97e;
    border: none;
}
/**----------------------------close style contentn pro palnting---------------------------**/


/**----------------------------open style contentn Chart---------------------------**/
.pos-head-button-chart .left {
    width: 55%;
    float: left;
}
.pos-head-button-chart .left .form-group-custom-detile-pro { 
    width: 41%;
    margin: 0px 12px;
    float: left;
}
.pos-head-button-chart .left .form-group-custom-detile-pro .custom-select-pro-detail { 
    width: 100%;
    
}
.pos-head-button-chart .right {
    width: 40%;
    float: right;
    text-align: right;
    margin: 10px 13px;
}
.pos-head-button-chart .right  button {
    border: none; 
}
.pos-head-button-chart .left .form-group select {
        padding: 10px 7px;
    width: 53%;
    background: #fff;
    border: none;
}
/**----------------------------close style contentn Chart---------------------------**/


/**----------------------------open style contentn view all Chart---------------------------**/
.pos-all-chart {
    width: 100%;
    float: left;
}
.pos-all-chart .left {
    width: 50%;
    float: left;
}
.pos-all-chart .right {
    width: 50%;
    float: left;
}
.content-chart-all .title-chart {
    width: 100%;
    float: left;
}
.content-chart-all .title-chart h3 {
    font-size: 18px;
    text-transform: uppercase;
}
/**----------------------------close style contentn view all Chart---------------------------**/




/**----------------------------open modal style progress   --------------------------------**/
  #progressbar {
    margin-top: 20px;
  }
 
  .progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
 
  .ui-dialog-titlebar-close {
    display: none;
  }
/**----------------------------close modal style progress---------------------------**/