/**
  jakarta 17/10/2018 10:41:41
  create BY: maningcorp
**/
/**---------------------------------------open style page home-------------------------------------------------------**/
/*Begin Font style*/
@font-face {
    font-family: helvetica;
    src: url(../fonts/HelveticaNeueLTStd-Th.otf);
}
body
{
   font-family: helvetica !important;
}
/*End Font Style*/

/**open style navbar for mobile**/


/**-------------------------------------open second versiond nav mobile--------------------------------------------**/
#menu_v2 ul li .hidden-menufm2 ul li .new-page-title {
  text-transform:capitalize;
  font-size:19px;
}
#menu_v2 ul .fa-chevron-down {
  padding-left:8px
}
.test {
  -webkit-transition: height .3s ease;
  height: 0;
  overflow: hidden;
  width: 200px;
  background: red;
  margin-top: 10px;
}

input:checked + .test {
  height: 100px;
}

#toggle_menusv2 {
  width: 61px;
  height: 30px;
  position: absolute;
  right: 24px;
  top: 40px;
}

#toggle_menusv2 div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle_menusv2.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle_menusv2.on .two {
  opacity: 0;
}

#toggle_menusv2.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

#menu_v2 {
  position:absolute;
  top:115px;
  color: white;
  border: 1px solid white;
  width: 100%;
  padding: 10px 25px;
  background:rgb(0,0,0,0.8);
  border-radius: 3px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  line-height: 100px;
  text-align: left;
  margin: auto;
  display: none;
}
#menu_v2 ul {
  list-style:none;
}
#menu_v2 ul li a {
  color:#fff;
  font-size:40px;
  text-align:center;
}
#menu_v2 ul li .hidden-menufm2 ul li .new-page-title {
  padding-left:20px
}
#menu_v2 ul li .hidden-menufm ul li .new-page-title {
  padding-left:20px
}
.label1 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    border-bottom: solid 1px #d0c3c3;
    padding-bottom: 10px;
}
/**-------------------------------------close second versiond nav mobile--------------------------------------------**/


/**-------------------------------------open style scroll indicator---------------------------------------**/

/**-------------------------------------close style scroll indicator---------------------------------------**/
/*  * {
  transition: .25s ease-in-out;
  box-sizing: border-box;
} */
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
#hamburger span {
  display: block;
  background: #566973;
  border-radius: 2px;
}

#menu-toggle {
  width: 100px;
  height: 100px;
  position: absolute;
  right:10px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}
#menu-toggle:hover {
  background: transparent;
}
#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
#menu-toggle #hamburger span {
    width: 73px;
    height: 10px;
    position: relative;
    top: 24px;
    left: 20px;
    margin: 10px 0;
}
#menu-toggle #hamburger span:nth-child(1) {
  transition-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
  transition-delay: .625s;
}
#menu-toggle #hamburger span:nth-child(3) {
  transition-delay: .75s;
}
#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
#menu-toggle #cross span:nth-child(1) {
  height: 0%;
  background:#566973;
  width: 10px;
  position: absolute;
  top: 10%;
  left: 48px;
  transition-delay: 0s;
}
#menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 10px;
  position: absolute;
  left: 10%;
  top: 48px;
  background:#566973;
  transition-delay: .25s;
}

#menu-toggle.open #hamburger span {
  width: 0%;
}
#menu-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
  transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
  transition-delay: .25s;
}
#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: .375s;
}
.icon-electra-for-mobile {
  position:absolute;
  top:0;
  left:10px;
}
.icon-electra-for-mobile a .img-mobile {
  width:90%;
  padding:13px;
}
    /** open style menu navar mobile modal **/
    /** close style menu navar mobile modal**/
/* #myFunction {
  height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 115px;
    left: 0;
    background-color: rgb(0,0,0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 115px;
    left: 0;
    background-color: rgb(0,0,0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 52px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align:center
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.navbar-collapse .navbar-center li a {
    padding: 0 15px;
    margin: 15px 0;
    letter-spacing:1px;
}
.navbar .icon-menu {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    color:#fff;
    text-shadow:0 4px 8px #000;
}
/**close style navbar for mobile**/

/**open style banner content**/
.slider-banner1 {
  background-image:url(../img/banner/slider2-01.jpg); 
  background-size:cover;
  height: 103%;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
.slider-banner2 {
  background-image:url(../img/banner/slider-02.jpg); 
  background-size:cover;
  height: 103%;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
.slider-banner3 {
  background-image:url(../img/banner/slider2-02.jpg); 
  background-size:cover;
  height: 103%;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
.slider-banner4 {
  background-image:url(../img/banner/slider-04.jpg); 
  background-size:cover;
  height: 103%;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
.banner-form-text {
  position:absolute;
  top:7%;
  float:left;
  width:100%;
}
.banner-form-text {

}
.pos-form {
    border-radius: 14px;
    padding: 39px;
    width: 60%;
    margin: auto;
    margin-top: -6%;
}
.pos-text-banner {
    width: 100%;
    margin: auto;
    height: 100%;
      padding: 175px 207px;
}

.pos-text-banner h1 {
  text-align:center;
  font-size:60px;
  letter-spacing:1px;
  color:#fff;
}
.pos-text-banner p {
  text-align: center;
    font-size: 26px;
    line-height: 34px;
    color: #fff;
}
.form-head h3 {
  font-size:20px;
  color:#fff;
  margin:0 0 30px;
}
.form-group {
  display:grid;
}
form .form-group input {
  padding:10px 15px;
}
form .form-group .email-text {
  padding:10px 15px;
  font-weight:700;
  letter-spacing:1px;
}
form .form-group select {
  padding:10px 15px;
  border-radius:0;
  height:43px;
}
form .btn-block-custom {
  display:block;
  width:100%;
  padding:10px 0;
  background:#ab0404;
  border-radius:0;
  color:#fff;
}
.btn-scroll-to-explore {
  position:absolute;
  left:0;
  right:0;
  bottom:78px;
  text-align:center;
  display:block;
}
.btn-scroll-to-explore a {
  color:#fff;
  text-decoration:none;
}
/**close tyle banner content**/


.content-firs {
  width:100%;
  padding:0;
}

/**open tyle about us content**/
.about-pos-cont {
  padding: 65px 190px;
  overflow: hidden;
  text-align:center;
}
.content-firs .about-us h3 {
  font-size:28px;
  color:#fff;
  line-height:40px;
  letter-spacing:1px;
  font-weight:200;
  margin-bottom:70px;
}
.button-all {
  font-size:19px;
  border-bottom:solid #fff 1px;
  -webkit-transition: color 12s, font-size 0.8s;
   -moz-transition: color 12s, font-size 0.8s;
     -o-transition: color 12s, font-size 0.8s;
        transition: color 12s, font-size 0.8s;
    padding-bottom: 5px;
}
.button-all:hover {
  border-bottom:solid #000 1px;
}
.btn-about {
  color:#fff;
}
.btn-about:hover {
  color:#fff;
  text-decoration:none;
}

.head-card .airline {
  background-image:url('assets/img/icon/ICON-ELECTRA-01.png');
}
/**close style about us content**/

/**open style our product content**/
/**open style animation for Flip description product**/
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

/* 	border: 1px solid #ccc; */
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 353px;
}
.flipper .back{
  background:#cd1a27;
}
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}


.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}
/**close style animation for Flip description product**/
.back .body-card {
  padding: 75px 10px;
}
.pos-btn-flip-more {
    width: 75%;
    margin: 10px auto;
    line-height: 39px;
    background: transparent;
    border:solid 1px #fff;
    color:#fff;
    font-weight:bolder;
}
.pos-btn-flip-more .more {
  color:#fff;
}
.pos-btn-flip-more:hover {
  background:#fff;
}
.pos-btn-flip-more:hover .more {
    color:#e20000;
}
.pos-btn- {
  width:80%;
  margin:auto;
}
.products-backgroud {
  background-image:url(../img/banner/slider-05.jpg); 
  background-size:cover;
  height: 103%;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
	.products-backgroud .header-caption {
		padding: 310px 20%;
    height: 100%;
    background: rgb(0,0,0,0.3);
    top:0;
	}	
	.products-backgroud h1 {
		margin: 0;
		font-size: 60px;
		color: #fff;
		text-transform: uppercase;
	}
	.products-backgroud p {
		font-size: 24px;
		color: #fff;
	}


.pro-pos-cont {
  padding:65px 0;
}
  .size-for-mobile {
    width:33.3%;
    padding:0 15px;
    float:left;
  }
.card-pro {
    padding: 34px 29px;
    text-align: center;
    overflow: hidden;
    border-color: #e6e7e8;
    border-width: 1px;
    border: 1px solid #e2c7c7;
    border-radius: 10px;
    border-style: solid;
    letter-spacing: 1px;
    box-shadow: 0px 1px 2px #fff;
    min-height: 320px;
    max-height: 324px;
    margin: 4px 0;
}
.card-pro:hover {
    box-shadow: 0px 2px 2px #BBBDC0;
}
.card-pro .head-card img {
  width:20%;
}
.card-pro-title .title-pro-unborder {
  font-size:55px;
} 
.card-pro-title .title-pro-border {
  font-size:55px;
  font-weight:600;
}
.card-pro .body-card h3 {
  text-transform:capitalize;
  font-weight:bolder;
  font-size:18px;
  
}

@-webkit-keyframes scroll {
  50% { background-position: 25px 40px; }
  90% { background-position: 25px -270px; }
  100% { background-position: 25px -270px; }
}

@-webkit-keyframes highlight {
  0% { background-color: rgba(171,223,218,0.5);}
  3% { background-color: rgba(171,223,218,0);}
  75% { background-color: rgba(171,223,218,0); top: 0px; left: 0px; right: 0px; bottom: 0px;}
  80% { background-color: rgba(171,223,218,0.5); top: 90px; left: 145px; right: 175px; bottom: 258px;}
  100% { background-color: rgba(171,223,218,0.5);}
}

#highlight {
  position: absolute;
  background-color: rgba(171,223,218,0.5);
  top: 90px; left: 145px; right: 175px; bottom: 258px;
  border-radius: 4px;
  -webkit-animation: highlight 9s linear 0s 2 normal;
}

/**close style our product content**/


/**open style why chose us content**/
.why-pos-cont {
      padding: 0 0 14%;
}
.title-why {
  text-align:center;
    padding-bottom:3%;
}
.title-all-h2 {
 margin-top: 12%;
  font-size:40px;
    margin-bottom: 4%;
}
.card-pro-why {

    /* background-image: linear-gradient(to right, rgba(255,0,0,1), rgba(208,0,8,1)); */
    /* background-image: linear-gradient(to right, rgba(255,0,0,1), rgba(208,0,8,1)); */
    padding: 74px 25px;
    text-align: center;
    overflow: hidden;
    border-radius: 27px;
    min-height: 440px;
    max-height: 440px;
    margin: 15px 0;
    color: #fff;
}
.card-pro-why:hover {
  box-shadow: 0px 2px 2px #BBBDC0;
}
.head-card-why {
  margin-bottom:34px;
}
.card-pro-why .head-card-why img {
  width: 35%;
  border-radius: 73px;
  border: solid 3px #fff;
}
.card-pro-why .body-card-why h3 {
      text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 15px;
  
}
.card-pro-why .body-card-why p {
  letter-spacing:1px;
  line-height:23px;
}
/**close style why chose us content**/

/**close style our clients content**/
.cont-form {
  width:100%;
  float:left;
}
.our-client-size {
  width:16.6%;
  float:left;
  padding:0 15px;
}
#myCarousel-testimony{
    margin-top: -3%;
    height: 75%;
}
.clients-pos-cont{
    background-color: #f1f1f2;
}
.content-our-clients {
  width:100%;
  float:left;
  overflow:hidden;
    padding-bottom: 12%;
}
.content-our-clients .clients {
/*    max-width: 100px; */*/
    padding-top: 10px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-bottom: auto;
    position: relative;
    height: 145px;
    text-align: center;
    position: relative;
}
.content-our-clients .clients img{
    filter: grayscale(100%);
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* width: 500px; */
    /* height: 500px; */
    /* margin-top: -250px; */
    /* margin-left: -250px; */
    max-height: 100%;
    max-width: 100%;
    /* height: auto; */
    width: auto;
    max-height: 46%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;
}
.content-our-clients .clients img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.card-our-clients {
  width:20%;
  padding:15px;
  float:left;
  overflow:hidden;
  margin-bottom:30px;
}
.cont-card-our-clients {
  margin:15px;
}
.cont-card-our-clients img {
  width:100%;
}
/**close style our clients content**/



/**close style testymony content**/
.pos-cont-testimony {
  text-align:center;
  padding:55px;
}
.pos-cont-testimony .head {
  margin: auto;
}
.pos-cont-testimony .body {
  width: 50%;
  margin: 50px auto;
}
.pos-cont-testimony .body p {
  font-size:15px;
  letter-spacing:1px;
}
.pos-cont-testimony .head img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}
.carousel {
  overflow:hidden;
}
.carousel-control.left {
  z-index:2;
  background-image:linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%)
}
.carousel-control.right {
  z-index:2;
  background-image:linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%)
}
/**close style testymony content**/
.effect-shine:after {
  content: attr(data-text);
  color: #767879;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-family: sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-80deg, rgba(120,120,120,0.9) 15%, #fff 30%,  rgba(120,120,120,0.9) 45%);
  background-size: 300%;
  background-blend-mode: hard-light;
  animation: shine 6s linear infinite;
}

@keyframes shine {
  from { background-position: 50%; }
  to { background-position: -250%; }
}
/**---------------------------------------close style page home-------------------------------------------------------**/

/**close style footer content**/
.footer-content {
  padding:0;
  background:#585858;
  margin:0;
  margin-top: 6%;
}
.foot-col-size {
  width:33.3%;
  float:left;
  padding:0 15px;
}
.left-footer {
  padding: 20px 10px;
}
.center-footer {
  padding:40px;
}
.right-footer {
  padding:40px;
}
.left-footer p {
  color:#cacaca;
}
.title-cont-foot {
  font-size:15px;
  font-weight:600;
  color:#fff;
}
.title-cont-foot1 {
  font-size:15px;
  font-weight:600;
  color:#fff;
}
.foot-col-size p {
  color:#fff;
}
.right-footer li{
  padding-right: 16px;
}
.right-footer li a{
    color: white;
    font-size: 16px;
    border: 1px solid #fff;
    display: block;
    line-height: 26px;
    width: 35px;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}
.right-footer li a:hover{
  color: black;
  font-size: 16px;
  background-color: white;
}
.right-footer li a span{
    padding: 8px;
    /* padding-right: 37px; */
}
.right-foot-center {
  width:80%;
  float:left;
  margin:0;
}
.btn-submit {
  width:20%;
  float:left;
  margin:0;
  text-align:right;
}
.center-footer form {
  overflow: hidden;
    border-bottom: 1px solid #fff;
}
.center-footer form .form-group input {
    padding: 10px 15px;
    border-radius: 0;
    border: none;
    background: transparent;
    color:#fff;
    letter-spacing:1px;
  padding-left:0;
  box-shadow:none;
}
.center-footer form .btn-submit .btn-submite-custom{
  padding: 6px;
    background: transparent;
    color: #fff;
    border: 0;
  text-transform:capitalize;
}
.right-footer ul {
  color:#fff;
  list-style:none;
  display:-webkit-box;
  padding:0;
}
/**close style footer content**/


/**---------------------------------------open style page product-------------------------------------------------------**/

/**open style banner **/
.banner-pos-cont {
  position:relative;
}
.post-3-icon {
  float:left;
  width:100%;
}
.banner-form-text-product {
  position:absolute;
  top:50%;
  bottom:50%;
  left:0;
  right:0;
}
.banner-form-text-product h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 44px;
}
.pos-cont-product {
      background: #fff;
    padding: 100px 190px;
    overflow: hidden;
    text-align: center;
}
.content-firs-product .product h3 {
  font-size:34px;
  color:#000;
  line-height:40px;
  letter-spacing:1px;
  font-weight:200;
  margin-bottom:70px;
}
.pos-icon-key {
  text-align:center;
}
.pos-icon-pro {
  width:33%;
  float:left;
}
.pos-icon-key .body{
  padding-top: 10px;
}
.pos-icon-key .head {
     border-style: solid;
    border-radius: 64px;
    margin:auto;
    padding-top: 20;
    padding-bottom: 22px;
    width: 123px;
}
.pos-icon-key .head:hover{
    border-color: red;
}
.pos-icon-key .head img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.pos-icon-key .head img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
        width: 61%;
    
}
.cont-key-sec{
  width:75%;
  margin:auto;
  float:left;
}
.card-key {
  width:25%;
  padding:0 15px;
  float:left;
}
.pos-form-product {
    background:transparent;
    border-radius: 10px;
    padding: 42px;
    width: 60%;
    margin: auto;
}
.pos-form-product form .form-group input {
  padding:10px 15px;
  border:none;
  border-bottom: solid 1px #bbbdc0;
}
.pos-form-product form .form-group select {
    padding: 10px 15px;
    border-radius: 0;
    height: 43px;
    border: none;
    border-bottom: solid 1px #bbbdc0;
  box-shadow:none;
}
.post-img .screen-content1{
    position: relative;
    margin-top: -387px;
    height: 243px;
    z-index: -1;
    margin-left: 5%;
    width: 31em;
    background-size: cover;
    background-position-y: 0%;
}
.post-img .screen-content2{
    position: relative;
    margin-top: -269px;
    height: 226px;
    z-index: -1;
    margin-left: 13%;
    width: 26em;
    background-size: cover;
    background-position-y: 0%;
}
.post-img .screen-content3{
    position: relative;
    margin-top: -156px;
    height: 161px;
    z-index: 0;
    margin-left: 79%;
    width: 7em;
    background-size: cover;
    background-position-y: 0%;
}
.left-cont .post-img img {
  width:100%;
}
.right-cont .post-img .laptop {
  width:100%;
}
.right-cont .post-img .iphone {
  width:100%;
} 
.body ul li {
  padding:5px;
}
.post-list .head h3 {
  margin:0 0 35px;
}
.post-list {
  padding:20px;
}
.post-img {
  padding:20px;
  position:relative;
}
.post-img2 {
  position:absolute;
}
.post-img .post-img2 img {
  width:100%;
}
.post-img .laptop{
    z-index: -1;
}
.post-img .iphone{
    max-width: 116px;
    position: absolute;
    margin-top: -36%;
    margin-left: 71%;
    z-index: 1;
}
/**close style banner**/
/**---------------------------------------close style page produc-------------------------------------------------------**/



/**---------------------------------------open style page update general-------------------------------------------------------**/
* {box-sizing: border-box;}
.btn-share{
    border-style: none;
    border-radius: 44px;
     color: black; 
    font-size: 2em;
    padding: 19px;
    box-shadow: 1px 2px 9px #d1d2d4;
}
.share-container{
    width: 14%;
    margin: -26px auto 0;
    text-align:center;
  position:absolute;
  left:0;
  right:0;
}
.share-container .hidden-menu table tr td {
  padding:10px;
}
.share-container .hidden-menu table tr td a span {
  font-size:30px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline:0;
}
.share-container .hidden-menu ul li {
  margin:10px 40px;
  padding:10px;
}
.btn-share:hover{
    color:red;
    background-color: white;
}
.card-update-img {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  height: 33%;
  margin-bottom:10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  transition: .5s ease;
  padding:17px;
}
.card-upadte-img {
  background-size:cover;
  height: 60%;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.card-upadte-img:hover .overlay {
  height: 33%;
  margin-bottom:10px;
  
}
.card-upadte {
  padding:10px 0;
  position:relative;
}
.card-upadte-img .overlay h3 {
  margin:3px 0;
  color:#fff;
}
.card-upadte-img .overlay span {
  font-size:15px;
  margin-bottom:15px;
  color:#ddd;
}
.card-upadte-img .overlay p {
  font-size:15px;
}
.pos-img-shr span {
    font-size: 30px;
    position: absolute;
    border-radius: 28px;
    border: solid 1px #fff;
    right: 11px;
    color: #fff;
    top: 20px;
    text-align: right;
    background: rgb(0,0,0,0.5);
    padding: 10px 12px;
}
.pos-img-shr span:hover {
  background:rgb(0,0,0,0.8);
}
/**---------------------------------------close style page update general-------------------------------------------------------**/



/**---------------------------------------open style page ditel_news general-------------------------------------------------------**/
.pos-des p img {
  height:auto!important;
  width:100%!important;
}
.modal-body table {
  text-align:center;
  width:60%;
  margin:auto;
}
.modal-dialog {
      margin: 185px auto;
}
.modal-body table tr td a {
  line-height: 50px;
    padding: 10px 15px;
    background: #ffa500;
    border-radius: 10px;
    color: #fff;
}
.modal-content {
   position: relative; 
     background-color: #fff0;
    -webkit-background-clip: none;
     background-clip: none; 
    border: none; 
   border:none;
    border-radius: 6px;
    outline: 0;
 -webkit-box-shadow: none; 
    box-shadow: none; 
}
.modal-header {
  border-bottom:none;
}
.modal-footer {
  border-top:none;
  text-align:center;
}
.modal-body table tr td .face {
  line-height: 50px;
  padding: 10px 15px;
  background: #3B5998;
  border-radius: 10px;
  color: #fff;
}
.modal-body table tr td .twit {
  line-height: 50px;
  padding: 10px 15px;
  background: #55acee;
  border-radius: 10px;
  color: #fff;
}
.modal-body table tr td .yout {
  line-height: 50px;
  padding: 10px 15px;
  background:#CB2027;
  border-radius: 10px;
  color: #fff;
}
.modal-body table tr td .what {
  line-height: 50px;
  padding: 10px 15px;
  background: #25d366;
  border-radius: 10px;
  color: #fff;
}
.modal-body table tr td .link {
  line-height: 50px;
  padding: 10px 15px;
  background: #0077b5;
  border-radius: 10px;
  color: #fff;
}
.modal-body table tr td .goog {
  line-height: 50px;
  padding: 10px 15px;
  background:#dc4e41;
  border-radius: 10px;
  color: #fff;
}
.modal-body table tr td .slac {
  line-height: 50px;
  padding: 10px 15px;
  background: #e12828;
  border-radius: 10px;
  color: #fff;
}
.modal-body table tr td .inst {
  line-height: 50px;
  padding: 10px 15px;
  background: #8a3ab9;
  border-radius: 10px;
  color: #fff;
}
.news-backgroud {
  background-image:url(../img/icon/img/Updates/Header.jpg); 
  background-size:cover;
  height: 103%;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
	.news-backgroud .header-caption {
		padding: 310px 20%;
    height: 100%;
    background: rgb(0,0,0,0.3);
    top:0;
	}	
	.news-backgroud h1 {
		    color: #fff;
    text-transform: capitalize;
    font-size: 44px;
	}
	.news-backgroud p {
		font-size: 24px;
		color: #fff;
	}

.des-pos-cont {
  padding:55px 15px;
}
.pos-des {
  padding:40px 0;
}
.pos-des p {
  text-align:justify;
  font-size:17px;
  line-height:20px;
}
.pos-img-ditel_update img {
  width:100%;
}
/**---------------------------------------close style page ditel_news general-------------------------------------------------------**/

/**open style header menu**/
#header-menu {
  position:fixed;
  left:0px;
  right:0px;
}
#header-menu .menu-left ul {
  text-align:left;
  text-shadow:2px 2px 5px #000;
}
#header-menu .menu-left ul li a {
  font-size:25px;
}
#header-menu ul {
  text-align:center;
    text-shadow:2px 2px 5px #000;
}
#header-menu ul li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}

#header-menu ul li.drop {
	position: relative;
}

#header-menu ul > li {
	display: inline-block;
}

#header-menu ul li a {
	padding: 0 20px;
	color: #fff;
  text-decoration:none;
}

#header-menu ul li a:hover {
	color: #eee;
}
.dropdownContain {
  position:absolute;
	width: 70px;
    top: -300px;
	left: 0;
  background:none;
}
.dropdownContain .dropOut ul li {
  padding:5px 15px;
  text-align:left;
}
.dropdownContain .dropOut ul li a {
  color:#fff;
  letter-spacing:1px;
}
.dropdownContain .dropOut ul li a:hover {
  border-bottom:none;
  color:#fff;
}
.dropOut {
    width: 305px;;
	background: rgb(0,0,0,0.5);
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
/* 	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; */
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	padding: 10px 0;
  list-style:none;
}

.dropOut ul li {
  padding:10px 15px;
  color:#000;
  height: 38px;
}
.dropOut ul li:hover {
	background: none;
}
ul li:hover a { color: white; }
ul li:hover .dropdownContain { top: 42px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }
/**close style header menu**/

/*begin navbar for pc style*/
.under-navbar{
    padding-top: 50px;
}
  .navbar {
      z-index: 999;
      border: none!important;
      position: fixed;
      width: 100%;
  }
.transparent_red{
    background-color: rgb(255,0,0,0.8);
}
.solid_red{
    background-color: rgb(255,0,0);
}
.navbar-nav.navbar-center {
    position: sticky;
    left: 50%;
  color:#fff;
    transform: translatex(-36%);
}
.navbar-brand{
/*        padding-left: 3em;*/
}
.navbar-brand img{
        max-width: 61%;
    margin-top: -10px;
    
}
.navbar-right {
  margin-right:36px;
}
.navbar-default .navbar-right li a {
  padding:0 15px;
  margin:15px 0;

}
.navbar-default .navbar-right li a {
  color:#fff;
  background:transparent;
  -webkit-transition: background .5s ease;
  -moz-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}
.navbar-default .navbar-right li a:hover {
  color:#e20000!important;
  background:#fff;
  font-weight:bolder;
}
.navbar-default .navbar-right li a:hover {
    border:none;
} 
.navbar-default .navbar-nav li a{
    color:#fff;
}
.navbar-default .navbar-nav li a:hover {
  color:#fff;
}
.navbar-collapse li a:hover{
 border-bottom: 4px solid #fff;
}
.navbar-collapse li{
   padding-left:4px;
   height:50px;
}
/*end navbar for pc style*/

/*begin carousel home style*/
.scrollTop {
    z-index: 1;
  position: fixed;
  right: 1%;
  bottom: 15%;
  background-color: transparent;
  padding: 7px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.scrollTop a img {
  width:50px;
}
.scrollTop a {
  font-size: 18px;
  color: #fff;
}
.carousel-home{
        margin-top: -73px;
    z-index: -1;
}
.bottom-carousel{
    padding-bottom: 10%;
}
 
.header-carousel{
    height: 103%;
} 

.background-color{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed1c24+0,89162f+100 */
background: #ed1c24; /* Old browsers */
/* background: -moz-linear-gradient(left, #ed1c24 0%, #89162f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ed1c24 0%,#89162f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ed1c24 0%,#89162f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#89162f',GradientType=1 ); /* IE6-9 */ */
}
.background-color-why{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed1c24+0,89162f+100 */
background: #e20202; /* Old browsers */
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.card-pro h3{
    color:#404041;
}
.card-pro p{
    color:#404041;
}
.card-pro .btn-card-pro{
    color: red;
    font-size:18px;
}
.carousel-indicators{
  right:50%;
  bottom:18%;
}
.carousel-center{
    margin-left: -30%!important;
}
.carousel-indicators .active{
    border-color: red;
    color: red;
    background-color: red;
}
.carousel-indicators li{
    border-color: #bbbdc0;
    color: #bbbdc0;
    background-color: #bbbdc0;
}
/*width style*/
.full-width{
     padding-right: 0; 
     padding-left: 0; 
}
.full-width .col-md-12{
     padding-right: 0; 
     padding-left: 0; 
}
/*button style*/
.btn-transparent{
    background-color: Transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold;
    border-radius:0;
    border:solid 1px #bfbfc5;
}
.btn-red:hover{
    background-color: red;
    color:white;
    font-weight: bold;
}
.btn-transparent:hover{
    background-color: red;
    color:white;
    font-weight: bold;
}

/*about us style for pc*/
.about-for-pc {
  display:block;
  float:left;
  overflow:hidden;
}
.pic-about-1{
    height: 100%;
    background-size: cover;
}
.pic-about-2{
    height: 100%;
    background-image: url(../img/aboutus-01.jpg);
    background-size: cover;
}
.pic-about-3{
    height: 100%;
    background-image: url(../img/aboutus-03.jpg);
    background-size: cover;
}
.pic-about-4{
    height: 100%;
    background-image: url(../img/aboutus-02.jpg);
    background-size: cover;
}
.copy{
    height: 100%;
    padding: 10% 7% 10% 8%;
}
.copy .aos-init p {
  font-size:18px;
  letter-spacing:1px;
}
.copy .aos-init h3 {
    font-size: 33px;
    margin-top: 10px;
}
.copy .aos-init a h5{
    font-size: 18px;
    padding-top:65px!important;
}
.copy .aos-init .line {
      margin: 0px auto;
    width: 93px;
    /* margin-bottom: 20px; */
    border: none;
    /* height: 2px; */
    background: #000;
    border-top: 1px solid #a2a2a2;
}
/*about us style for pc*/

/*open about us style for mobile*/
.about-for-mobile {
  display:none;
}
/*close about us style for mobile*/

.about_us_link{
    color:black;
}
.about_us_link:hover{
    color:red;
}
/*news style*/
.news_link{
    color:black;
}
.news_link:hover{
    color:red;
}
.link_white{
    color:white;
}
.link_white:hover{
    color:white;
    font-weight: bold;
}
.news-date{
    color:white;
    font-size: 23px;
}
/*hello electra style*/
.contact .list-add ul {
  list-style:none;
  padding:0;
}
.contact .list-add ul li {
  padding:0;
  margin:10px 0;
  font-size:18px;
}
.contact .list-add ul li p {
  margin-left:31px;
}
.contact .list-add ul li span {
  font-size:22px;
  position:absolute;
  color:#dc0f0f;
}
.contact .list-add ul li .message {
  font-size:19px;
  position:absolute;
  color:#dc0f0f;
}
.contact .list-add ul li a {
  color:#000;
}
.contact .list-add ul li a:hover {
  color:#dc0f0f;
}
.contact .content h3 {
  font-size:24px;
}
#map{
   height: 100%; 
}
.hello_electra_contact input{
    padding: 10px 15px;
    border: none;
    border-bottom: solid 1px #bbbdc0;
}
.hello_electra_contact textarea {
    padding: 10px 15px;
    border: none;
    border-bottom: solid 1px #bbbdc0;
}
.pos-form-product form .form-group input {
      outline-style: none;
}
.button, input, select, textarea {
  border:none;
  border-bottom:solid 1px #bbbdc0;
  outline-style:none;
  padding: 0 16px;
  height:30px;
}
.hello_electra_contact button{
    padding: 10px 15px;
    border: none;
    border-bottom: solid 1px #bbbdc0;
}
#hello_electra .contact{
    
    padding: 10% 12% 10% 11%;
}
#hello_electra .drop_message{
    
   padding: 10% 12% 10% 0%;
}
.hello_electra_map{
    margin-bottom: -6%;
}
/*floating button*/
.floating-button{
        /* position: fixed; */
    float: right;
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 27px;
    width: 47px;
    margin-bottom: 2%;
}
    
.floating-button img{
    width: 59px;
        
}
/* .products-backgroud{
    background-image:url(../img/banner/slider-05.jpg); 
    background-size:cover;
    height: 103%;
} */



/***try to custom animation effect */

.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  background: #464646;
  color: #fdfdfd;
  text-align: center;
  margin: 1em auto;
  text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
}

.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		-moz-transform: translateX(20px);
	}

	80% {
		-moz-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(20px);
	}

	80% {
		-o-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		-webkit-transform: translateX(-20px);
	}

	80% {
		-webkit-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		-moz-transform: translateX(-20px);
	}

	80% {
		-moz-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		-o-transform: translateX(-20px);
	}

	80% {
		-o-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes moveUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 1;
		-o-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@-o-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}

.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
.animated.fadeBgColor {
	-webkit-animation-name: fadeBgColor;
	-moz-animation-name: fadeBgColor;
	-o-animation-name: fadeBgColor;
	animation-name: fadeBgColor;
}
.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animated.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.moveUp {
	-webkit-animation-name: moveUp;
	-moz-animation-name: moveUp;
	-o-animation-name: moveUp;
	animation-name: moveUp;
}

/**------------------open style animate floating page content-------------------------**/

/**------------------open style button indicator------------------**/
#scroll-indicator-bullets ul li .bullet-item-link .circle {
  height:13px!important;
  width:13px!important;
  border-radius:20px!important;
  border:none!important;
}
#scroll-indicator-bullets {
      right: 12px!important;
}
/**uji coba button share animation**/
.share-button {
  position: relative;
  width: 55px;
  margin: 4px;
}

.toggle1 {
  position: relative;
  width: 55px;
  height: 55px;
  z-index: 10;
  display: block;
  border-radius: 25px;
  cursor: pointer;
  color: #C8C7C0;
}
/* .toggle1:before {
 background-image:url(../img/icon/iconchat-01.png);
  background-size:cover;
  height: 100%;
  border-radius:60px;
}
.toggle1:after {
 background-image:url(../img/icon/iconchat-01.png);
  background-size:cover;
  height: 1%;
  border-radius:60px;
} */
.toggle1-input {
  display: none;
}
.toggle1-input:checked + .toggle1:after, .toggle1-input:checked + .toggle1:before {
/*   content: "";
  height: 3px;
  width: 30px;
  position: absolute;
  left: 10px;
  top: 23px; */
}
.toggle1-input:checked + .toggle1:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: bar1 0.3s forwards;
          animation: bar1 0.3s forwards;
}
.toggle1-input:checked + .toggle1:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: bar2 0.3s forwards;
          animation: bar2 0.3s forwards;
}
input:checked ~ .network-list li:nth-child(1) {
  background-image:url(../img/icon/iconwa-03.png);
  background-size:cover;
  height: 92%;
  border-radius:60px;
}
input:checked ~ .network-list li:nth-child(2) {
    background-image:url(../img/icon/iconwa-03.png);
  background-size:cover;
  height: 92%;
  border-radius:60px;
}
.network-list li {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
}
.network-list a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  text-indent: 120%;
  text-decoration: none;
}
.network-list .twitter a:hover:before {
  box-shadow: inset 0 0 0 2px #00C3F3;
}
.network-list .facebook a:hover:before {
  box-shadow: inset 0 0 0 2px #2C609B;
}
.network-list .googleplus a:before {
  content: "\f0d5";
  color: #EC3F25;
}
.network-list .googleplus a:hover:before {
  box-shadow: inset 0 0 0 2px #EC3F25;
}

input:checked ~ .network-list li {
  opacity: 1;
}
input:checked ~ .network-list li:nth-child(1) {
  left: -60px;
}
input:checked ~ .network-list li:nth-child(2) {
  left: -120px;
}
input:checked ~ .network-list li:nth-child(3) {
  left: -180px;
}

@-webkit-keyframes bar1 {
  0% {
    content: "\f1e0";
    width: 46px;
    height: 50px;
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    top: 0;
    left: 0;
    opacity: 1;
  }
  50% {
    background-color: transparent;
    content: "\f1e0";
    width: 46px;
    height: 50px;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  50.001% {
    background-color: #fff;
    left: 10px;
    top: 22px;
    content: "";
    height: 3px;
    width: 30px;
  }
  60% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
}

@keyframes bar1 {
  0% {
    content: "\f1e0";
    width: 46px;
    height: 50px;
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    top: 0;
    left: 0;
    opacity: 1;
  }
  50% {
    background-color: transparent;
    content: "\f1e0";
    width: 46px;
    height: 50px;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  50.001% {
    background-color: #fff;
    left: 10px;
    top: 22px;
    content: "";
    height: 3px;
    width: 30px;
  }
  60% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
}
@-webkit-keyframes bar2 {
  0% {
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  50% {
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  60% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
  }
}
@keyframes bar2 {
  0% {
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  50% {
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  60% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
  }
}

/**-------------------share button animation second-----------------------**/

/* 
Using FontAwesome for icons 
https://fortawesome.github.io/Font-Awesome/
*/
.share-button1 {
  position: relative;
  width: 50px;
  margin: 20px;
}

.toggle2 {
  background:#fff;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: block;
  border-radius: 25px;
  cursor: pointer;
  color: #C8C7C0;
  box-shadow: inset 0 0 0 1px #C8C7C0;
}
.toggle2:hover {
  color: #EC3F25;
}
.toggle2:after {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  font-family: 'FontAwesome';
  content: "\f1e0";
  line-height: 50px;
  font-size: 26px;
  text-align: center;
  left: -2px;
}
.toggle2-input {
  display: none;
}
.toggle2-input:checked + .toggle2:after, .toggle2-input:checked + .toggle2:before {
  background-color: #C8C7C0;
  content: "";
  height: 3px;
  width: 30px;
  position: absolute;
  left: 10px;
  top: 23px;
}
.toggle2-input:checked + .toggle2:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: bar1 0.3s forwards;
          animation: bar1 0.3s forwards;
}
.toggle2-input:checked + .toggle2:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: bar2 0.3s forwards;
          animation: bar2 0.3s forwards;
}

.network-list1 li {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
}
.network-list1 a {
  position: relative;
  display: block;
  width: 50px;
  height: 52px;
  overflow: hidden;
  line-height: 50px;
  text-indent: 120%;
  text-decoration: none;
}
.network-list1 a:before {
  background:#fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-family: 'FontAwesome';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 50px;
  text-indent: 0;
  box-shadow: 0px 1px 0px #cac8be;
}
.network-list1 .twitter a:before {
  content: "\f099";
  color: #98a0a2;
}
.network-list1 .twitter a:hover:before {
  color: #EC3F25;
}
.network-list1 .facebook a:before {
  content: "\f09a";
  color: #98a0a2;
}
.network-list1 .facebook a:hover:before {
 color: #EC3F25;
}
.network-list1 .googleplus a:before {
  content: "\f0c1";
  color: #98a0a2;
}
.network-list1 .googleplus a:hover:before {
  color: #EC3F25;
}
.network-list1 .googleplus1 a:before {
  content: "\f0e1 ";
  color: #98a0a2;
}
.network-list1 .googleplus1 a:hover:before {
  color: #EC3F25;
}

input:checked ~ .network-list1 li {
  opacity: 1;
}
input:checked ~ .network-list1 li:nth-child(1) {
  left: -60px;
}
input:checked ~ .network-list1 li:nth-child(2) {
  left: -120px;
}
input:checked ~ .network-list1 li:nth-child(3) {
  left: 120px;
}
input:checked ~ .network-list1 li:nth-child(4) {
  left: 60px;
}


