#top_button{
  padding-bottom: 10px;
}
#event_information{
  padding-bottom: 10px;
}
#event_information #event_title{
  font-size: 24px;
  font-weight: bold;
}
#event_information div{
  display:inline-block;
}
.btn-primary{
  color: #fff !important;
  background: #51d2b7!important;
}
.btn-primary:hover{
  color: #fff !important;
  background: #389380!important;
}
.footer{
  bottom :auto!important;
}
.mini-thumbnail{
  max-width: 120px!important;
}
.change_picture{
  max-width: 130px!important;
}
.preview-logo{
  max-width: 130px!important;
}
/*wysih*/
ul.wysihtml5-toolbar li a[title="Insert image"] { display: none; }
ul.wysihtml5-toolbar li.dropdown { display: none; }
ul.wysihtml5-toolbar li a[title="Insert link"] { display: none; }
ul.wysihtml5-toolbar li.dropdown { display: none; }
.daterangepicker{
  z-index: 2147483647!important;
}
#event_details_page{
  margin-top: -22px;
}
.stitched {
   padding: 20px;
   margin: 10px;
   background: transparent;
   color: #939597;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #939597;
   font-weight: normal;
}
.centered-text{
    text-align: center;
}
.med-size{
    font-size:18px;
}
.bold-text{
    font-weight: bold;
}
.vertically-text{
    vertical-align: middle;
}
#project_list{
    min-height: 200px;
    padding-top: 8%;
    cursor:pointer;
    margin: 10px;
    flex: 1 1 100%!important;
    margin-bottom: 5%;
}
.orange-bg{
    background-color: #fdc585!important;
}
.pink-bg{
    background-color: #ed9fc5!important;
}
.blue-bg{
    background-color: #74bbe7!important;
}
/*plants*/
.plants-detail .card-img-top {
    width: 25%!important;
}
.plants-detail .card-title{
    text-align: left!important; 
    padding-top: 3%;
}
.plants-detail .card-description{
    
    font-weight: 300;
}
/*select menu*/
.select-mode {
        max-height: 28vh;
        text-align: center;
}
.select-mode .card{
        width: 100%;
}
.select-mode .card-img-top{
        display: -webkit-inline-box;
        width: 90%;
}
.select-mode .card-title{
        color: white;
    font-size: 2vh;
    margin-top: 14%;
    text-transform: uppercase;
    text-align: center;
}
.unactive-element{
    display: none;
}
.active-element{
    display: block
}
.right-content{
    text-align: right;
}
.pos-btn-submit-start-planting{
    width:100%;
    float:left;    
}
.hidden{
    display:none;
}
.btn-save-custom{
    cursor: pointer;
}
.btn-save-custom:hover{
    background-color: #408e7e;
}
.btn-cancle-custom{
    cursor: pointer;
}
.btn-cancle-custom:hover{
    background-color: #bb9160;
}
.btn-plus-add-device:hover {
    color: #b5b4b4;
}
.capitalize{
    text-transform: uppercase;
}