@media (min-device-width: 1800px){
          .col-pos-tips {
        width: 23%!important;
    }
    .select-mode .card-img-top {
        width: 49%;
    }
    .col-select-pro .footlong {
        left: 32%!important;
        position: absolute;
        bottom: 19px!important;
    }
}
@media (max-device-width: 1800px){
          .col-pos-tips {
        width: 23%!important;
    }
    .select-mode .card-img-top {
        width: 49%;
    }
    .btn-plus-add-device {
        padding: 15% 42%!important;
    }
}
@media (max-device-width: 1600px){
    .col-pos-tips {
        width: 23%!important;
    }
    .select-mode .card-img-top {
        width: 63%;
    }
    .btn-plus-add-device {
        padding: 18% 42%!important;
    }
}
@media (max-device-width: 1400px){
    .col-pos-tips {
        width: 23%!important;
    }
    .data-table-project-for-pc {
        display: block!important;
    }
    .data-table-project-for-mobile {
        display: none!important;
    }
    .select-mode .card-img-top {
        width: 85%;
    }
    .btn-plus-add-device {
        padding: 22% 42%!important;
    }
}
@media (max-device-width: 1200px){
    .col-pos-tips {
        width: 31%!important;
    }
    .col-select-pro {
        min-height: 200px!important;
    }
    .col-select-pro .foot {
        left: 35%!important;
    }
    .card-body-oscar-custom {
        min-height: 140px!important;
        max-height: 140px!important;
    }
    .pos-cont-add-device-more {
        width: 22%!important;
    }
    .pos-cont-col-add-device-more {
        min-height: 152px!important;
        max-height: 152px!important;
    }
    .btn-plus-add-device {
        padding: 21% 38%!important;
    }
}
@media (max-device-width: 992px){
    .col-pos-tips {
        width: 47%!important;
    }
        #project_list {
        min-height: 156px!important;
    }
}
@media (min-device-width: 680px) and (max-device-width: 768px){
       .col-pos-tips {
           width: 100%!important;
           min-height: 250px!important;
           max-height: 250px!important;
           margin: 10px 0!important;
    }
    .col-md-3 {
        max-width: 100%!important;
    } 
}
@media (max-device-width: 768px){
    .data-table-project-for-pc {
        display: none!important;
    }
    .data-table-project-for-mobile {
        display: block!important;
    }
    .navbar {
        position: fixed!important;
    }
    .content-wrapper .main-wrapper, body .wrapper .footer {
        padding-top: 15vh;
    }
    .scrollbar-enabled.site-sidebar {
        top: 90px;
        position: fixed!important;
    }
    .banner-article {
        height: 400px!important;
    }
    .article-content .head .img-article-small {
        height: 110px!important;
    }
    .pos-btn-sos ul li a {
        font-size: 13px!important;
    }
    .pos-btn-sos ul li {
        padding: 10px 15px!important;
    }
    .pos-btn-sos ul .facebook {
        padding: 10px 18px!important;
    }
    .article-content .body h4 {
        font-size: 15px!important;
    }
    .pos-des-arti p {
        font-size: 13px!important;
        line-height: 19px!important;
    }
    .article-content {
        width: 47%!important;
        float: left;
        margin: 20px 2vh 20px 0!important;
    }
    .head-button-pos a {
        padding: 4px 10px!important;
            font-size: 10px!important;
    }
    .cont-select-pro {
        width: 50%!important;
    }
    .col-select-pro .foot {
        left: 40%!important;
    }
    .col-select-pro .head img {
        width: 50%!important;
    }
    .pos-content-select-pro {
        width: 100%!important;
        float: left!important;
        padding: 0!important;
    }
    .col-detile-pro {
        width: 50%!important;
        float: left!important;
    }
    .card-body-oscar-custom {
        min-height: 120px!important;
        max-height: 120px!important;
    }
    .pos-cont-col-add-device-more {
        min-height: 129px!important;
        max-height: 129px!important;
    }
    .btn-plus-add-device {
        padding: 18% 33%!important;
    }
}
@media (max-device-width: 680px){
    .col-pos-tips {
        width: 100%!important;
        min-height: 250px!important;
        max-height: 250px!important;
        margin: 10px 0!important;
    }
    
    .content-pos-tips {
        min-height: 250px!important;
        max-height: 250px!important; 
    }
    .col-md-3 {
        max-width: 100%!important;
    }
    #project_list {
        padding-top: 10%!important;
    }
    .pos-mobile-select-mode {
        width: 34%!important;
        max-width: 34%!important;
    }
    .select-mode .card-img-top {
        width: 30%!important;
    }
    #pos-log-page #custom-pos-login-mobile {
        padding: 1.85714em 2.28571em!important;
        min-height: 30vh!important;
        height: 69vh!important; */
        background: white;
        position: absolute!important;
        left: 33vh!important;
        top: 15vh!important;
        max-width: 43.66667%!important;
    }
    .pos-cont-add-device-more{
        margin: 0!important;
        width: 25%!important;
    }
}
@media (max-device-width: 580px){ 
    .article-content .head .img-article-small {
        height: 151px!important;
    }
    #project_list {
        padding-top: 12%!important;
    }
    .col-select-pro .head img {
        width: 80%!important;
    }
    .col-select-pro .foot {
        left: 36%!important;
    }
    #pos-log-page #custom-pos-login-mobile {
        padding: 0.85714em 1.28571em!important;
        left: 28vh!important;
    }
    .form-material .form-group-custom {
        margin-bottom: 17px!important;
    }
    .form-material .form-group-custom .form-control-custom {
        padding: 7px 4px!important;
    }
    #pos-log-page #custom-pos-login-mobile {
        height: 51vh!important;
        top: 24vh!important;
    }
    .btn-lg-custom{
        padding: 0.025rem 1.5rem!important;
    }
    .navbar-header-custom a img {
        width: 49%!important;
        padding-bottom: 0!important;
    }
    .pos-cont-col-add-device-more {
        min-height: 103px!important;
        max-height: 103px!important;
    }
    .btn-plus-add-device {
        padding: 10% 31%!important;
    }
@media (min-device-width: 480px) and (max-device-width: 580px){
        .col-pos-tips {
            width: 100%!important;
            min-height: 250px!important;
            max-height: 250px!important;
            margin: 10px 0!important;
    }
    .col-md-3 {
        max-width: 100%!important;
    }

}
@media (max-device-width: 480px){
    #project_list {
        padding-top: 15%!important;
    }
    .banner-article {
        height: 250px!important;
    }
    .article-title {
        font-size: 20px!important;
    }
    .article-content {
        width: 46%!important;
    }
    .article-content .head .img-article-small {
        height: 92px!important;
    }
    .title-2-article h3 {
        font-size: 18px;
    }
    .col-select-pro .foot {
        left: 31%!important;
    }
    .col-select-pro .foot2 {
           left: 36%!important; 
    }
        .col-select-pro .head {
        padding: 0!important;
    }
    .content-wrapper .main-wrapper, body .wrapper .footer {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .pos-btn-collapse .left button {
        margin-right: 26px!important;
    }
    .pos-mobile-select-mode {
        width: 34%!important;
        max-width: 34%!important;
    }
    .select-mode .card-img-top {
        width: 60%!important;
    }
    #pos-log-page #custom-pos-login-mobile {
        height: 51vh!important;
        top: 25vh!important;
        max-width: 52.66667%!important;
        left: 19.5vh!important;
    }
    .btn-plus-add-device {
        padding: 18% 36%!important;
    }
    .btn-plus-add-device {
        padding: 18% 36%!important;
        font-size: 35px!important;
    }
    .pos-cont-add-device-more {
        margin: 0!important;
        width: 33%!important;
    }
    .modal.fade .modal-dialog {
        position: absolute!important;
        top: 35%!important;
        left: 0!important;
        right: 0!important;
    }
    .modal-dialog {
        width: 80%!important;
        margin: auto!important;
    }
}
@media (max-device-width: 420px){
    .article-content {
        width: 45%!important;
    }
    #project_list {
        padding-top: 17%!important;
    }
    .col-select-pro .head {
        padding: 0!important;
    }
    .col-select-pro {
        min-height: 160px!important;
    }
    .pos-col-detile-pro {
        padding: 33px 8px!important;
    }
    .pos-col-detile-pro .body h3 {
        font-size: 35px!important;
    }
    .pos-col-detile-pro .body {
        margin-top: 42px!important;
    }
    .pos-col-detile-pro {
        min-height: 169px!important;
        max-height: 169px!important;
    }
    .pos-col-detile-pro i {
        right: 8px!important;
    }
    #pos-log-page #custom-pos-login-mobile {
        height: 48vh!important;
        top: 27vh!important;
        max-width: 52.66667%!important;
        left: 17vh!important;
        border-radius: 16px 0 16px 0!important;
    }
    .btn-lg-custom {
        padding: 0.025rem 1.5rem!important;
        font-size: 14px!important;
    }
    .text-right-custom {
       font-size: 12px!important; 
    }
}
@media (min-device-width: 380px) and (max-device-width: 480px){
     .col-pos-tips {
            width: 100%!important;
            min-height: 250px!important;
            max-height: 250px!important;
            margin: 10px 0!important;
    }
    .col-md-3 {
        max-width: 100%!important;
    } 
    .cont-select-pro {
        padding: 0!important;
    }
    .pos-col-detile-pro {
        min-height: 180px!important;
        max-height: 180px!important;
    }
}

@media (max-device-width: 380px){
    .pos-col-detile-pro {
        min-height: 155px!important;
        max-height: 155px!important;
    }
    .pos-col-detile-pro i {
        font-size: 20px;
    }
    .col-select-pro .foot2 {
        left: 32%!important;
    }
    #pos-log-page #custom-pos-login-mobile {
        height: 46vh!important;
        top: 27vh!important;
        max-width: 52.66667%!important;
        left: 16vh!important;
    }
    .btn-plus-add-device {
        padding: 18% 34%!important;
    }
    .pos-cont-col-add-device-more {
        min-height: 90px!important;
        max-height: 90px!important;
    }
    .btn-save-custom {
        padding: 5px 10px!important;
    }
    .btn-cancle-custom {
        padding: 5px 29px!important;
    }
}
@media (max-device-width: 360px){
    .pos-content-article {
     padding: 0!important; 
    }
    .banner-article {
        height: 200px!important;
    }
    .main-wrapper {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .cont-select-pro {
        padding: 0!important;
    }
    #pos-log-page #custom-pos-login-mobile {
        left: 15vh!important;
    }
    .btn-plus-add-device {
        padding: 13% 31%!important;
    }
    .pos-cont-col-add-device-more {
        min-height: 80px!important;
        max-height: 80px!important;
    }
    .btn-cancle-custom {
        padding: 5px 20px!important;
        font-size: 12px!important;
    }
    .btn-save-custom {
        padding: 5px 10px!important;
        font-size: 12px!important;
    }
}
@media (max-device-width: 320px){
    .col-detile-pro {
        width: 100%!important; 
    }
    .col-select-pro .foot2 {
        left: 29%!important;
    }
    .col-select-pro {
        min-height: 134px!important;
    }
    .col-select-pro .foot2 {
        bottom: 16px;
    }
    .pos-mobile-select-mode {
        width: 34%!important;
        max-width: 34%!important;
    }
    .select-mode .card-img-top {
        width: 80%!important;
    }
    .pos-cont-add-device-more {
        margin: 0!important;
        width: 50%!important;
    }
    .pos-cont-col-add-device-more {
        min-height: 110px!important;
        max-height: 110px!important;
    }
    .btn-plus-add-device {
        padding: 22% 37%!important;
    }
}
/**---------------------------------------open iphone device---------------------------------------------**/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/**---------------------------------------close iphone device---------------------------------------------**/


/**---------------------------------------open samsung device---------------------------------------------**/
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
/**---------------------------------------close samsung device---------------------------------------------**/



/**---------------------------------------open google pixel device---------------------------------------------**/

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
/**---------------------------------------close google pixel device---------------------------------------------**/



/**---------------------------------------open HTC One device---------------------------------------------**/
/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}
/**---------------------------------------close HTC One device---------------------------------------------**/




/**---------------------------------------open Windows Phone device---------------------------------------------**/
/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {
      .col-pos-tips {
          width: 47%;
      }
}
/**---------------------------------------close Windows Phone device---------------------------------------------**/





/**----------------------------------------open iPad device---------------------------------------------**/
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
/**----------------------------------------close iPad device---------------------------------------------**/





/**----------------------------------------open Galaxy device---------------------------------------------**/
/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 

}
/**----------------------------------------close Galaxy device---------------------------------------------**/




/**----------------------------------------open laptop device---------------------------------------------**/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
/**----------------------------------------close laptop device---------------------------------------------**/












